//Styles specific to this page
html.video-page{
    height: 100%;
    background-color: black;
    body{
        height: inherit;
    }
    #container{
        height: inherit;
    }
    #view{
        height: inherit;
    }
    #background{
        display: none;
    }
    footer{
        display: none;
    }
}

#video-content{
    height: inherit;
    color: darkgray;
    hr{
        border-color: darkgray;
        border-style: dashed;
    }
    #toggle {
        color: darkgray;
        position:absolute;
        left: 0;
        padding-left: 4px;
        input {
            display: inline-block;
            vertical-align: middle;
            margin-right: 4px;
        }
    }
    #toggle, #toggle input {
        cursor: pointer;
    }
}

//Video Wrapper (Left side)
#video-wrapper{
    display: inline-block;
    vertical-align: top;
    height: inherit;
    width: 50%;
}
#player-header{
    height: 9%;
    overflow: auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 5px;
}
#show-description{
    cursor: pointer;
    font-size: 80%;
}
#description{
    display: none;
    position: absolute;
    width: 48%;
    background-color: white;
    z-index: 1;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    color: black;
    padding: 10px;
}
#video{
    height: 60%;
    padding-left: 10px;
    video{
        max-width: 100%;
        max-height: 100%;
    }
    iframe{
        height: 60%;
    }
}
#below-video{
}

//Annotations Wrapper (Right side)
#annotations-wrapper{
    width: 49%;
    display: inline-block;
    vertical-align: top;
}
[id|=target]{
    img{
        max-width: 100%;
    }
}
#target-0{
}
#target-1{
    margin-top: 9%;
    padding-left: 1%;
}
#target-2{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding-left: 1%;
}
#target-3{
    display: inline-block;
    vertical-align: top;
    width: 48%;
    padding-left: 1%;
}

////Popcorn Plugins
.popcorn-plugin-youtube li{
    display: inline-block;
    vertical-align: top;
}