<div><label for="input-vid-title">Title:</label><input id="input-vid-title" ng-model="__rObj['ma:title']" /></div>
<div><label for="input-vid-date">Date:</label><input name="input-vid-date" ng-model="__rObj['ma:date']" /></div>
<div><label for="input-vid-description">Description:</label></div>
<div><textarea id="input-vid-description" ng-model="__rObj['ma:description']"></textarea></div>
<div>
    <label for="input-vid-rights">Availability:</label>
    <select id="input-vid-rights" ng-model="__rObj['dc:coverage']">
        <option value="private" selected>Private</option>
        <option value="public">Public</option>
    </select>
</div>
