<div class="field-row"><label for="input-vid-title">Title:</label><input id="input-vid-title" ng-model="__rObj['ma:title']" /></div>
<div class="field-row"><label for="input-vid-date">Date:</label><input name="input-vid-date" ng-model="__rObj['ma:date']" /></div>
<div class="field-row"><label for="input-vid-contributor">Director:</label><input name="input-vid-contributor" array-cast="__rObj['ma:hasContributor']" ng-model="__rObj['__arraycast']" /></div>
<div class="field-row"><label for="input-vid-description">Description:</label></div>
<div class="field-row"><textarea id="input-vid-description" ng-model="__rObj['ma:description']"></textarea></div>
<div class="field-row"><label for="input-vid-language">Languages:</label></div>
<div class="field-row"><div select-language-multi ng-model="__rObj['ma:hasLanguage']"></div></div>
<div class="field-row">
    <label for="input-vid-rights">Availability:</label>
    <select id="input-vid-rights" ng-model="__rObj['dc:coverage']">
        <option value="private" selected>Private</option>
        <option value="public">Public</option>
    </select>
</div>
