<section class="admin" id="admin-video-select">
    <div id="listwrapper">
        <h2>{{"Videos" | tr}}</h2>
        <div class="filter">
            Filter: <input type="search" ng-model="title_filter">
        </div>
        <ul>
            <li class="selectable" data-ng-repeat="v in videos | filter: {'ma:title': title_filter}" data-ng-class="{selected: v.pid == video.pid}" data-ng-click="setVideo(v)">{{v["ma:title"]}}</li>
        </ul>
    </div>
</section>
<section class="admin" data-ng-show="!!video">
    <div class="admin-editor">
        <h2>{{"Modify" | tr}} {{video["ma:title"]}}</h2>
        <form>
            <div class="form-table">
                <label for="title">{{"Title:" | tr}}</label><input id="title" data-ng-model="video['ma:title']">
                <label for="year">{{"Year:" | tr}}</label><input id="year" type="year" data-ng-model="video['ma:date']">
                <label for="description">{{"Description:" | tr}}</label><textarea data-ng-model="video['ma:description']"></textarea>
            </div>
            <div class="control-buttons">
                <button id="admin-video-cancel" data-disable-when="video.isSaving" data-ng-click="cancel()" class="icon-cancel"> {{"Cancel" | tr}}</button>
                <button id="admin-video-delete" data-disable-when="video.isSaving" data-ng-click="delete(video)" class="icon-trash"> {{"Delete" | tr}}</button>
                <button id="admin-video-save" data-disable-when="video.isSaving" data-ng-click="update()"class="icon-save"> <span data-ng-switch="video.isSaving"><span data-ng-switch-default>{{"Save Changes" | tr}}</span><span data-ng-switch-when="true">{{"Saving…" | tr}}</span></span></button>
            </div>
        </form>
    </div>
</section>
