<section class="admin" id="admin-video-select">
    <div id="listwrapper">
        <div id="list_scrolling_block">
            <h2>{{"Videos" | tr}}</h2>
            <div class="filter">
                {{"Filter:" | tr}} <input type="search" ng-model="title_filter">
            </div>
            <div data-ng-show="!videos.length && !no_videos" class="loading_message">{{"Loading Videos..." | tr}}</div>
            <div data-ng-show="no_videos" class="loading_message">{{"No Videos" | tr}}</div>
            <ul>
                <li class="selectable" data-ng-repeat="v in videos | filter: {'ma:title': title_filter} | orderColon:'ma:title'" data-ng-class="{selected: v.pid == video.pid}" data-ng-click="setVideo(v)">{{v["ma:title"]}}</li>
            </ul>
        </div>
        <a href='/admin/video/create' id="admin-video-add-button"><h2 class="ng-binding">Add Video</h2></a>
    </div>
</section>
<section class="admin" data-ng-show="!!video">
    <div class="admin-editor">
        <h2>{{"Modify" | tr}} {{video["ma:title"]}}</h2>
        <button data-ng-click="previewVideo()"><i class="icon-play"></i> Preview Video</button>
        <div>
            <div class="form-table">
                <div resource-form="video" resource-model="video"></div>
            </div>
            <hr>
            <div data-rights data-ng-model="video['dc:rights']"></div>
            <div class="control-buttons">
                <button id="admin-video-cancel" data-ng-readonly="video.isSaving" data-ng-click="cancel()"> {{"Cancel" | tr}}</button>
                <button id="admin-video-delete" data-ng-readonly="video.isSaving" data-ng-click="delete(video)" class="icon-trash"> {{"Delete" | tr}}</button>
                <button id="admin-video-save" data-ng-readonly="video.isSaving" data-ng-click="update()"class="icon-save"> <span data-ng-switch="video.isSaving"><span data-ng-switch-default>{{"Save Changes" | tr}}</span><span data-ng-switch-when="true">{{"Saving…" | tr}}</span></span></button>
            </div>
        </div>
    </div>
</section>
<section id="admin-video-attachments">
    <section class="admin" data-ng-show="!!video">
        <div id="listwrapper" data-ng-animate=" 'blur' ">
            <div id="list_scrolling_block">
                <h2>{{"Attached Collections" | tr}}</h2>
                <ul>
                    <li data-ng-repeat="course in video['ma:isMemberOf']">
                        <table id="listvideotable"><tr>
                            <td>{{course['title']}}</td>
                            <td id="righttd"><button data-ng-click="annotate(course['@id'])">{{"Annotate" | tr}}</button><button data-ng-click="deleteCollection(course['@id'], course['title'])">{{"Remove" | tr}}</button></td></tr>
                        </table>
                    </li>
                </ul>
            </div>
            <div class="centered-bwbutton"><button class="bwbuttondark" data-ng-click="getCollections(); toggleModal('#modal-add-video')">Add Collection</button></div>
        </div>
    </section>
    <section class="admin" data-ng-show="!!video">
        <div id="listwrapper" data-ng-animate=" 'blur' ">
            <div id="list_scrolling_block">
                <h2>{{"Subtitles" | tr}}</h2>
                <ul>
                    <li data-ng-repeat="subtitle in video['ma:hasRelatedResource']">
                        <table id="listvideotable">
                            <tr><td>{{subtitle.language | language}} - {{subtitle.name}}</td></tr>
                        </table>
                    </li>
                </ul>
            </div>
            <div class="centered-bwbutton"><button class="bwbuttondark" data-ng-click="toggleModal('#modal-add-subtitle')">Add Subtitle</button></div>
        </div>
    </section>
</section>

<div id='blur-box'> 
</div>
<div class='modal' id='modal-add-video'>
    <i data-ng-click="toggleModal('#modal-add-video')" class="icon-remove-sign close-icon"></i>
    <h2>Select a Collection</h2>
    <div class="filter">
            Filter: <input type="search" data-ng-model="collection_filter">
    </div>
    <hr>
    <ul>
        <li data-ng-repeat="collection in collections | filter: {'dc:title': collection_filter}">
            <label><input data-ng-model="selected_collections[collection.pid]" type='checkbox' value='{{collection.pid}}'/> {{collection["dc:title"]}}</label>
        </li>
    </ul>
    <br />
    <p>{{selected_collections_count}} Collections Selected</p>
    <button class="bwbuttondark" data-ng-click="toggleModal('#modal-add-video'); addVideoToCollections()">Add Video to Selected</button>
</div>
<div class='modal' data-ctrl-id='{{subtitleModalId}}' id='modal-add-subtitle' ng-controller='SubtitleCtrl'>
    <i data-ng-click="toggleModal('#modal-add-subtitle')" class="icon-remove-sign close-icon"></i>
    <div class='admin-editor'>
      <h2>{{"Add Subtitle to" | tr}} {{video['ma:title']}}</h2>
      <p class=error ng-show=error>{{error}}</p>
      <form ng-hide=waiting class='form-table'>
          <div class="field-row"><label for='sub-name'>Name:</label><input type="text" name='sub-name' ng-model='subName' name="name"></div>
          <div class="field-row"><label for='sub-lang'>Language:</label><div id='sub-lang' select-language name="language" ng-model="subLang"></div></div>
          <div class="field-row"><label for='sub-file'>Subtitle File:</label><input id='sub-file' type="file" humfile ng-model='subFile' accept='.vtt, .srt' name="subtitle" value='Subtitle File'></div>
          <div class="field-row"><input ng-disabled=waiting type='submit' ng-click='upload()' value='Upload'></div>
      </form>
      <progress ng-show=waiting value='{{progress}}' max='{{maxProgress}}'></progress>
    </div>
</div>
