<section id="admin-create-video-step-1">
<div ng-show="!videoChosen()">
    <div id="step1">
        <h1>Step 1</h1>
        <h2>Find a Video</h2>

        <form ng-submit="search()">
            <label for="admin-youtube-search">Search for a YouTube video:</label>
            <input id="admin-youtube-search" type="search" data-ng-model="query">
            <input type="submit" value="Search">
        </form>
    </div>

    <ul id="admin-select-video" data-ng-show="videos.items.length">
        <li data-ng-repeat="video in videos.items">
            <img data-ng-src="{{video.snippet.thumbnails.medium.url}}" src="" title="{{video.snippet.description}}">
            <div class="title">{{video.snippet.title}}</div>
            <div class="add"><button ng-click="watch(video.id.videoId)">Watch on YouTube</button><button ng-click="select(video)">Use this video</button></div>
        </li>
    </ul>
</div>
<div ng-show="videoChosen()">
    <div id="step2">
        <h1>Step 2</h1>
        <h2>Configure Metadata (you can change this later)</h2>
        <h3>Or, <a ng-click="reset()">pick a different video</a></h3>
    </div>
    <form id='admin-configure-yt' ng-submit="save()">
        <div resource-form="video" resource-model="data"></div>
        <div><input type="submit" value="Save" disable-when="isSaving"/></div>
    </form>
</div>
</section>
