<section id="admin-create-video-step-1">
<div ng-show="!videoChosen()">
    <div id="step1">
        <h1>Step 1</h1>
        <h2>Find a Video</h2>

        <form ng-submit="search()">
            <label for="admin-youtube-search">Search for a YouTube video:</label>
            <input id="admin-youtube-search" type="search" data-ng-model="query">
            <input type="submit" value="Search">
        </form>
        
        <div id="admin-create-video-error" ng-show="error">
            <h3>{{"We've encountered an error."|tr}}</h3>
            <h4>{{"Please send us this error message so we can fix the problem."|tr}}</h4>
            <!-- This is indented weirdly because we're displaying it as if it were a PRE tag. -->
            <!-- We're not using a PRE tag, though, because a PRE tag won't allow us to loop elements within it -->
            <div id='admin-create-video-error-details'>Query: {{queryCopy}}
<span ng-repeat='e in error.errors'>
  Domain:  {{e.domain}}
  Message: {{e.message}}
  Reason:  {{e.reason}}

</span></div>
        </div>
    </div>

    <ul id="admin-select-video" data-ng-show="videos.items.length">
        <li data-ng-repeat="video in videos.items">
            <img data-ng-src="{{video.snippet.thumbnails.medium.url}}" src="" title="{{video.snippet.description}}">
            <div class="title">{{video.snippet.title}}</div>
            <div class="add"><button ng-click="watch(video.id.videoId)">Watch on YouTube</button><button ng-click="select(video)">Use this video</button></div>
        </li>
    </ul>
</div>
<div ng-show="videoChosen()">
    <div id="step2">
        <h1>Step 2</h1>
        <h2>Configure Metadata (you can change this later)</h2>
        <h3>Or, <a ng-click="reset()">pick a different video</a></h3>
    </div>
    <form id='admin-configure-yt' ng-submit="save()">
        <div resource-form="video" resource-model="data"></div>
        <div><input type="submit" value="Save" ng-readonly="isSaving"/></div>
    </form>
</div>
</section>
