<section class="admin" id="admin-user-select">
    <div id="listwrapper">
        <div id="list_scrolling_block">
            <h2>{{"Users" | tr}}</h2>
            <div class="filter">
                Filter: <input placeholder="John Doe" type="search" ng-model="nameQuery">
            </div>
            <ul>
                <li class="selectable" data-ng-repeat="u in users | filter: nameFilter | orderBy:'lastname':false" data-ng-class="{selected: u._id == user._id}" data-ng-click="setUser(u)">{{u.lastname}}, {{u.firstname}}</li>
            </ul>
        <div>
    </div>
</section>
<section class="admin" data-ng-show="!!user">
    <div class="admin-editor" style="width:300px;">
        <h2>{{"Modify" | tr}} {{user.fullname}}</h2>
        <form>
            <div class="form-table">
                <label for="firstname">{{"First Name:" | tr}}</label><input id="firstname" data-ng-model="user.firstname">
                <label for="lastname">{{"Last Name:" | tr}}</label><input id="lastname" data-ng-model="user.lastname">
                <label for="ta">{{"TA:" | tr}}</label><input id="ta" type="checkbox" data-ng-model="user.ta">
                <label for="superuser">{{"Superuser:" | tr}}</label><input id="superuser" type="checkbox" data-ng-model="user.superuser">
                <label for="role">{{"Role:" | tr}}</label><select id="role" data-ng-options="value for value in roles" data-ng-model="user.role"></select>
                <label for="preferredlang">{{"Preferred Language:" | tr}}</label><select id="preferredlang" data-ng-options="lang.value as lang.label | language for lang in languages" data-ng-model="user.preferredLanguage"></select>
                <label for="email">{{"Email:" | tr}}</label><input type="email" id="email" data-ng-model="user.email">
            </div>
            <div class="control-buttons">
                <button id="admin-user-cancel" data-ng-readonly="user.isSaving" data-ng-click="cancel()"> {{"Cancel" | tr}}</button>
                <button id="admin-user-delete" data-ng-readonly="user.isSaving" data-ng-click="delete(user)" class="icon-trash"> {{"Delete" | tr}}</button>
                <button id="admin-user-save" data-ng-readonly="user.isSaving" data-ng-click="update()"class="icon-floppy"> <span data-ng-switch="user.isSaving"><span data-ng-switch-default>{{"Save Changes" | tr}}</span><span data-ng-switch-when="true">{{"Saving…" | tr}}</span></span></button>
            </div>
        </form>
    </div>
</section>
