<div class="admin">
    <div id="listwrapper">
        <h2>{{"My Collections" | tr}}</h2>
        <ul>
        <li class="listvideo" data-ng-repeat="collection in collections" id="{{collection.pid}}" data-ng-click="showCollection(collection.pid)">
            <p>{{collection['dc:title']}}</p>
        </li>
        </ul>
        <hr>
        <h2>{{"Create New Collection" | tr}} <i data-ng-click="showCreateCollection()" id="collToggle" class="icon-plus"></i></h2>
        <div id="createcollection">
        <table>
            <tr><td>{{"Title" | tr}}:</td><td><input data-ng-model="newtitle" type="text" /></td></tr>
            <tr><td>{{"Description" | tr}}:</td><td><input data-ng-model="newdescription" type="text" /></td></tr>
            <tr><td>{{"Creator" | tr}}:</td><td><input data-ng-model="newcreator" type="text" /></td></tr>
        </table>
        <button data-ng-click="newCollection()">{{"Create Collection" | tr}}</button>
        </div>
    </div>
    <div id="admincollection" data-ng-controller="AdminCollectionCtrl">
        <h2>{{"Collection Info" | tr}}</h2>
        <p>
            {{"Title" | tr}}:
            <input disabled="disabled" class="collectioninfo" id="collectioninfo_title" type="text" value="{{collection_data['dc:title']}}"/>
        </p>
        <p>
            {{"Description" | tr}}:
            <input disabled="disabled" class="collectioninfo" id="collectioninfo_description" type="text" value="{{collection_data['dc:description']}}"/>
        </p>
            <p>    
                <button class="conditionalbutton" data-disable-when="!id" data-ng-click="deleteCollection(collection_data.pid)"><i class="icon-trash"></i> Delete</button>
                <button id="editbutton" class="conditionalbutton" data-disable-when="!id" data-ng-click="editCollection()"><i class="icon-edit"></i>Edit</button>
                <button id="savebutton" disabled="disabled" data-ng-click="saveChanges(collection_data.pid)"><i class="icon-save"></i> Save Changes</button>
            </p>
            <hr>
            <div id="droppable">
                <div id="dragdrop"><h2>Drop Here!</h2></div>
                <div id="defaultdrop">
            <h2>{{"Videos" | tr}}</h2>
                <ul>
                    <li data-ng-repeat="video in collection_data.videos">
                        <table id="listvideotable"><tr>
                                <td>{{video['ma:title']}}</td>
                                <td id="righttd"><button data-ng-click="deleteVideo(video.pid, collection_data.pid)">Remove</button></td></tr>
                        </table>
                    </li>
                </ul>
            
                <hr>
                <p>Add Video by pid:</p>
                <input id="addvideopid" type="text">
                <button data-ng-click="addVideo(collection_data.pid, '51156f9ba51824723bfc99f7')">Submit</button>
                </div>
                </div>
            </div>
    <div id="videopool">
        <h2>Videos to Add</h2>
        <ul>
            <li class="draggable"><p id="51156f9ba51824723bfc99f7">Пиковая дама</p></li>
            <li class="draggable"><p id='51156f9ca51824723accba5a'>The Nose</p></li>
            <li class="draggable"><p id='51156f9ea518247237a0435f'>Adieu monde ou l'histoire de Pierre et Claire</p></li>
        </ul>
    </div>
</div>