<div class="admin">
    
    <div id="listwrapper">
        <div id="list_scrolling_block">
            <h2>{{"My Collections" | tr}}</h2>
            <ul>
            <li class="selectable listvideo" data-ng-repeat="collection in collections" id="{{collection.pid}}" data-ng-click="showCollection(collection.pid)">
                <p>{{collection['dc:title']}}</p>
            </li>
            </ul>
        </div>
        <hr>
        <div class="centered-bwbutton"><button class="bwbuttondark" data-ng-click="toggleCreateCollection()">Create New Collection</button></div>
    </div>
    
    <div data-ng-show="inCreateOrEditMode()" id="admincollection" class="admin-editor">
        <h2>{{"Collection Info" | tr}}</h2>
        <hr>
        <p>Enter the course number and section<br />
           Include the "R" if necessary (358R)</p>
        <br />
        <p>
            <select>
                <option>ENGL</option>
                <option>PWS</option>
            </select>
            <input type="text" size="6" placeholder="Course" title="Enter the course number (101 or 101R)"/>
            <input type="text" size="6" placeholder="Section" title="Enter the section number" />
        </p>
        <br />
        <p>
            {{"Term" | tr}}:
            <select id="create_semester_select" data-ng-model='create_semester_select' data-ng-show="semesters.length">
                <option data-ng-repeat="semester in semesters" value="{{semester['int']}}">{{semester['name']}}</option>
            </select>
        </p>
        <hr>
        <h3>Title & Description (optional)<i id="collToggle" class="icon-plus" data-ng-click="toggleTitleAndDescription()"></i></h3>
        <div id="title_and_description_panel" style="display: none;">
            <p>
                {{"Title" | tr}}:
                <input data-ng-readonly="!isEditable" class="collectioninfo" id="collectioninfo_title" type="text" ng-model="collection_data['dc:title']"/>
            </p>
            <p>
                {{"Description" | tr}}:
            </p>
            <div id='editable-description-wrapper'>
                    <textarea ui-tinymce="tinymceOptions" ng-model="collection_data['dc:description']" class="tinymce-textarea">{{collection_data['dc:description']}}</textarea>
                    <div id='description-cover'></div>
            </div>
        </div>
        <hr>
        <p style="max-width: 300px;">I certify that these videos are required assignments for this class.</p><br />
        <input data-ng-model='create_authorization_checkbox' type='checkbox'> Authorize Collection<br />
        <hr>
            <p>    
                <button data-ng-hide="createMode" id="deletebutton" class="conditionalbutton" data-ng-readonly="!id" data-ng-click="deleteCollection(collection_data.pid)"><i class="icon-trash"></i> {{"Delete" | tr}}</button>
                <button id="savebutton" data-ng-readonly="!isEditable" data-ng-click="saveChanges(collection_data.pid)"><i class="icon-save"></i> {{"Save Changes" | tr}}</button>
            </p>
    </div>
    
    <div id="listwrapper" data-ng-show="inCreateOrEditMode()">
        <div id="list_scrolling_block">
            <h2>{{"Videos" | tr}}</h2>
            <ul>
                <li data-ng-repeat="video in collection_data.videos">
                    <table id="listvideotable"><tr>
                            <td>{{video['ma:title']}}</td>
                            <td id="righttd"><button data-ng-click="annotate(video.pid, collection_data.pid)">{{"Annotate" | tr}}</button><button data-ng-click="deleteVideo(video.pid, collection_data.pid)">{{"Remove" | tr}}</button></td></tr>
                    </table>
                </li>
            </ul>
        </div>
        <div class="centered-bwbutton"><button class="bwbuttondark">Add Video</button></div>
    </div>
</div>
