<div id="collections_content">

<div id="tabs" data-ng-show="collections.length">
    <p data-ng-repeat="tabcollection in collections" data-ng-click="showVideos(tabcollection['pid'])" data-ng-class="{highlighted: collection.pid==tabcollection.pid}" id="tab-{{tabcollection['pid']}}">{{tabcollection['dc:title']}}</p>
</div>    
<div id="collections_wrapper">
    <h2>{{message}}</h2>
<div class='collection_blocks'>
    <div class='collection_toggle' id="{{collection['pid']}}">
        <div>
            <h2>{{collection['dc:title']}}</h2>
            <p>{{collection['dc:description']}}</p>
        </div>
        <div data-ng-repeat="video in collections_data[collection['pid']]['videos']" class="video_blocks" style="vertical-align: top;">
            <a title="{{video['ma:description']}}" href="#/video/{{video.pid}}">
                <img src="http://fillmurray.com/300/200" width="270" height="180"/>
            </a>
            <a title="{{video['ma:description']}}" style="text-align:center;" class="plain_link" href="#/video/{{video.pid}}">{{video['ma:title']}}</a>
            <p style="font-size:.8em; color: rgba(0,0,0,.75);">{{video['ma:date'] | date:'longDate'}} [{{video['ma:hasLanguage'][0] | language}}]</p>
        </div>
    </div>
</div>        
</div>
</div>