<div id="collections_content">
        
<ul id="tabs" data-ng-show="collections.length">
    <li data-ng-repeat="tabcollection in collections" data-ng-class="{highlighted: collection.pid==tabcollection.pid}" data-ng-click="showVideos(tabcollection.pid)">
        <a ng-show='canEdit(tabcollection)' class='edit-button' ng-href="/admin/collection?id={{tabcollection.pid}}"><i data-tooltip="Edit this collection" class="icon-edit"></i></a>
        <a ng-href="/collection?id={{tabcollection['pid']}}" id="tab-{{tabcollection['pid']}}">{{tabcollection['dc:title']}}</a>
    </li>
</ul>    
<div id="collections_wrapper">
    <h2>{{message}}</h2>
<div class='collection_blocks'>
    <div class='collection_toggle'>
        <div>
            <h2>{{collection['dc:title']}}</h2>
            <p data-ng-bind-html="collection['dc:description']"></p>
                        
            <div class="filter">
                {{"Search:" | tr}} <input type="search" ng-model="video_filter">
            </div>         
            
            <progress data-ng-show="collection.isLoading" title="Loading videos">Loading videos&hellip;</progress>
            
            <hr>
        
        </div>
        
        <div data-ng-repeat="video in collection['videos'] | filter: {'ma:title': video_filter}" class="video_blocks" style="vertical-align: top;">
            <a title="{{video['ma:description']}}" href="/video/{{video.pid}}?collection={{collection.pid}}">
                <div id="video-wrapper"><div id="video-clipper">
                    <img width="300" height="200" data-ng-src="{{video['ma:image'][0]['thumb'] || 'img/vhs.svg'}}" scroll-load="{{video['ma:image'][0]['poster']}}" onerror="this.src='img/vhs.svg'"/>
                </div></div>
            </a>
            <a title="{{video['ma:description']}}" style="text-align:center;" class="plain_link" href="/video/{{video.pid}}?collection={{collection.pid}}">{{video['ma:title']}}</a>
            <p style="font-size:.8em; color: rgba(0,0,0,.75);">{{video['ma:date']}} [{{video['ma:hasLanguage'][0] | language}}]</p>
        </div>
    </div>
</div> 
</div>
</div>
