<div id="collection_list_content">
<div>
    <a href="/app/#/collection/{{collection_data.identifier}}">Thumbnail View</a>
    <h2>{{collection_data.title}}</h2>
    <p>{{collection_data.description}}</p>
</div>
    <div data-ng-repeat="video in collection_data.videos" class="video_list">
        <table>
            <tr>
                <td>
        <img src="http://placekitten.com/g/300/200" width="300" height="200"/>
        <p>{{video.title}}</p>
                </td>
                <td>
        <p style="text-align: left; padding-right: 10px;">{{video.description}}<br />
        Language: {{video.language | language}}<br />
        Date: {{video.date | date:'longDate'}}
        </p>
                </td>
        </tr>
        </table>
    <div>    
</div>