<div id="collection_content">
<div id="wrapper">
    <div>
    <h2>{{collection_data['dc:title']}}</h2>
    <p>{{collection_data['dc:description']}}</p>
    </div>
    <div data-ng-repeat="video in collection_data.videos" class="video_blocks" style="vertical-align: top;"><a title="{{video['ma:description']}}" href="#/video/{{video.pid}}">
            <div id="video-wrapper"><div id="video-clipper">
                <img data-ng-src="{{video.currentImage}}" src='' width="300" height="200" onerror="this.src='http://placekitten.com/300/200'"/>
            </div></div>
        </a>
        <a title="{{video['ma:description']}}" style="text-align:center;" class="plain_link" href="#/video/{{video.pid}}">{{video['ma:title']}}</a>
        <p style="font-size:.8em; color: rgba(0,0,0,.75);">{{video['ma:date'] | date:'longDate'}} [{{video['ma:hasLanguage'][0] | language}}]</p>
    </div>
</div>        
</div>
