<div id="collection_content">
<div>
    <a href="/app/#{{path}}/list-view">List View</a>
    <h2>{{collection_data.title}}</h2>
    <p>{{collection_data.description}}</p>
</div>
    <div data-ng-repeat="video in collection_data.videos" class="video_blocks"><a href="#/{{video.type.toLowerCase()}}/{{video.identifier}}">
        <img src="http://placekitten.com/g/300/200" width="300" height="200"/>
        </a>
        <a style="text-align:center;" class="plain_link" href="#/{{video.type.toLowerCase()}}/{{video.identifier}}">{{video.title}}</a>
    <div>    
</div>