<div id="graywall"></div>    
<section id="login" class="ghost" data-ng-controller="LoginCtrl">
<div id="heading">
    <i data-ng-click="hideLogin()" class="icon-remove-sign" id="hidelogin"></i>
<h1>{{"Login" | tr}}</h1>
<h2>{{"Select an authentication provider below" | tr}}:</h2>
</div>
<br />
<ul>
    <li title="BYU NetID" id="byubutton" data-ng-click="user.signin()"><img src="img/byu.svg" width="100"></li>
    <li id="googleplusbutton" data-ng-click="user.googleSignin()" title="Google+"></li>
</ul>
</section>