<div class="rights-allocator">
    <div class="access-list-container">
        {{"Read Access"}}
        <table class='access-list'>
            <tr data-ng-repeat="netid in ngModel['read']">
                <td class="netid">{{netid}}</td>
                <td class="button"><button ng-click="revoke('read', netid)">Revoke</button></td>
            </tr>
        </table>
        <form>
            <input placeholder="Net ID" ng-model="reader" type="text"> <input type="submit" class="icon-user" ng-click="grant('read', reader); reader=''" value="Grant" />
        </form>
    </div>
    <hr>
    <div class="access-list-container">
        {{"Write Access"}}
        <table class='access-list'>
            <tr data-ng-repeat="netid in ngModel['write']">
                <td class="netid">{{netid}}</td>
                <td class="button"><button ng-click="revoke('write', netid)">Revoke</button></td>
            </tr>
        </table>
        <form>
            <input ng-model="writer" placeholder="Net ID" type="text"> <input type="submit" class="icon-user" ng-click="grant('write', writer); writer=''" value="Grant" />
        </form>
    </div>
</div>
