<div id="video-content" oncontextmenu="return false">
    
<div id="video-wrapper">
    <div id="player-header">
        <div>
            <p>{{video['ma:title']}} <i analytics="{category: 'video', label: 'description toggle'}" ng-show="video['ma:description']" class="icon-info-sign" id="show-description" onclick="$('#description').fadeToggle(800);"></i></p>
            <span style="font-size:80%;">{{video['ma:date']}}
            <ul class="language-list">
                <li data-ng-repeat="lg in video['ma:hasLanguage']">{{lg | language}}</li>
            </ul>
            </span>
        </div>
        <div id="description" data-ng-bind-html="video['ma:description']"></div>
    </div>
    <div id="video-loading">
        <p>LOADING...</p>
    </div>
    <div id="video-error">
        <p>Error!  Unable to load video!</p>
    </div>
    <div 
        id ="target-0"
        hum-video="{{vid}}"
        hum-video-collection="{{coll}}"
        data-butter="target"
        hum-video-subtitles="subtitlesEnabled"
        hum-video-annotations="annotationsEnabled"
        hum-video-object="video"
        hum-video-editor="{{editorMode}}"
        ></div>
    <label id="toggle-annotations" data-ng-show="video.hasAnnotations && !editorMode"><input type="checkbox" checked="checked" ng-model="annotationsEnabled"/>&nbsp;{{"Annotations" | tr}}&nbsp;</label>
    <label id="toggle-subtitles" data-ng-show="video.hasSubtitles && !editorMode"><input type="checkbox" checked="checked" ng-model="subtitlesEnabled"/>&nbsp;{{"Subtitles" | tr}}&nbsp;</label>
    
    <div id="target-4" data-butter="target">
    </div>
    
</div>
    
<div id="annotations-wrapper">
    <div id="target-1" data-butter="target"></div>
    <div id="bottom-targets">
        <div id="target-2" data-butter="target"></div>
        <div id="target-3" data-butter="target"></div>
    </div>
</div> 
    
</div>    
