<div id="video_content">
    
<div id="wrapper">
    <div id="player-column">
        <div id="player-header">
            <h2>{{video['ma:title']}}</h2>
            <p>{{video['ma:date'] | date:'longDate'}} [{{video['ma:hasLanguage'][0] | language}}]</p>
        </div>
        <div id="popcorn-player"></div>
        <div id="player-footer">
                <div data-ng-show="annotations.optional" >
                    <label>Show Annotations </label>
                    <input type="checkbox" data-ng-click="toggleAnnotation(annotations.optional)" checked="checked">
                </div>
            <p>{{video['ma:description']}}</p>
            <p id="caption"></p>
        </div>
        <div id="popup"></div>
    </div>
    <div id="_caption"></div>
    <div id="vocabulary"></div>

</div>        
</div>