<div id="video_content">
<div id="wrapper">
    <div>
    
    <div id="player-column">
        <div id="player-header">
            <h2>{{video['ma:title']}}</h2>
            <p>{{video['ma:date'] | date:'longDate'}} [{{video['ma:hasLanguage'][0] | language}}]</p>
        </div>
        <div id="popcorn-player"></div>
        <div id="player-footer">
            <p>{{video['ma:description']}}</p>
            <p id="caption"></p>
        </div>
        <div id="popup"></div>
    </div>
    
    
    
    </div>
    
    
        <div id="_caption"></div>
        <div id="vocabulary"></div>
        
        <script src="lib/popcorn-js/popcorn.js"></script>
        <script src="lib/popcorn-js/modules/parser/popcorn.parser.js"></script>
        <script src="lib/popcorn-js/modules/player/popcorn.player.js"></script>
        <script src="lib/popcorn-js/modules/locale/popcorn.locale.js"></script>
        <script src="lib/popcorn-js/players/youtube/popcorn.youtube.js"></script>
        <script src="lib/hummedia-popcorn-plugins/audio/popcorn.audio.js"></script>
        <script src="lib/hummedia-popcorn-plugins/modal/popcorn.modal.js"></script>
        <script src="lib/hummedia-popcorn-plugins/reference/popcorn.reference.js"></script>
        <script src="lib/hummedia-popcorn-plugins/skip/popcorn.skip.js"></script>
        <script src="lib/hummedia-popcorn-plugins/parsers/vcp/popcorn.parserVCP.js"></script>
        <script src="lib/hummedia-popcorn-plugins/parsers/vcp/popcorn.loaderVCP.js"></script>
        
        
        
        <!--
        
        <script src="lib/popcorn-js/wrappers/common/popcorn._MediaElementProto.js"></script>
        <script src="lib/popcorn-js/wrappers/youtube/popcorn.HTMLYouTubeVideoElement.js"></script>
        -->
        
</div>        
</div>