<!doctype html>
<html lang="en" data-ng-app="hummedia" data-ng-controller="SiteCtrl">
<head>
  <meta charset="utf-8">
  <meta name="description" content="Watch videos for your BYU courses here at Hummedia">
  <!--Google Web Fonts-->
  <link rel="icon" href="favicon.ico">
  <link href='//fonts.googleapis.com/css?family=Rambla|Permanent+Marker' rel='stylesheet' type='text/css'>
  <title data-ng-bind="title">Hummedia</title>
  <link rel="stylesheet" href="/css/cssreset-min.css"/>
  <style>
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
      }
  </style>
  <link rel="stylesheet" type="text/css" href="/css/fontello/css/custom_font_awesome.css">
  <link href="//vjs.zencdn.net/4.6.3/video-js.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet/less" href="/css/plugins/transcript.less"/>
  <link rel="stylesheet/less" href="/css/plugins/subtitles.less"/>
  <link rel="stylesheet/less" href="/css/admin-collection.less"/>
  <link rel="stylesheet/less" href="/css/videojs.less"/>
  <link rel="stylesheet/less" href="/css/video.less"/>
  <link rel="stylesheet/less" href="/css/app.less"/>
  <script src="/CONFIG.js" data-exclude-compress></script>
  <script type="text/javascript">
        //Display an error message if AngularJS doesn't load in 5 seconds
        setTimeout(function(){document.getElementById("angular_error_message").setAttribute("style","display:block;")},5000);
  </script>
</head>
<body>
    <!--[if lte IE 8]>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', HUMMEDIA_GLOBALS.googleAnalyticsKey]);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        <style>
            div{ display: none; }
            #iewarning { display: block; color: black; background-color: white;}
        </style>
        <div id="iewarning">
            <h1>Your browser is out of date!</h1>
            <p>
                Internet Explorer 6, 7, and 8 are not supported. <a href='http://browsehappy.com/'>Please upgrade your browser to a newer version,
                or download a different browser</a>.
            </p>
        </div>
    <![endif]-->

    <!-- Error Messages -->
    <noscript>Please enable JavaScript in order to view this page.</noscript>
    <div id="angular_error_message" data-ng-hide="true" style="display:none">
        <p>Unable to load AngularJS<br />Check if your browser extensions are disabling AngularJS</p>
    </div>
    
    <div id='error-modal' api-error-modal blur='#background, #view'></div>
    <div id="container">
    <div id="background" data-ng-style="style">
    <div id = "overlay1"></div>
    </div>
    <div data-ng-controller="NavCtrl" id="nav-wrapper">
        <nav id="navtable" data-ng-cloak>
            <a id="navtitle" href="/" analytics="{category: 'nav', label: 'logo'}">Humanities Online Media</a>
            <a data-ng-click="user.prompt(true)" analytics="{category: 'nav', label: 'login'}" id="login-link" data-ng-show="showLogin">{{"Login" | tr}}</a>
            <a data-ng-click="user.prompt(true)" data-ng-show="user.netIDRequired" analytics="{category: 'nav', label: 'link BYU NetID'}">{{"Link BYU NetID" | tr}}</a>
            <span data-ng-show="user.exists" analytics="{category: 'nav', label: 'user\'s name, has no effect'}">{{user.data.fullname}}</span>
            <a data-ng-show="user.canCreate || user.isTA" ng-click="toggleAdmin()" analytics="{category: 'nav', label: 'admin'}">{{"Admin" | tr}}</a>
            <a href="/collection" analytics="{category: 'nav', label: 'courses'}">{{"Courses" | tr}}</a>
            <a href="/search" id="nav-search" analytics="{category: 'nav', label: 'search'}">{{"Search" | tr}}</a>
            <a href="/about" analytics="{category: 'nav', label: 'about'}">{{"About" | tr}}</a>
            <a id="logout-link" data-ng-click="user.logout()" data-ng-show="user.exists || user.netIDRequired" analytics="{category: 'nav', label: 'logout'}">{{"Logout" | tr}}</a>
            <a href="/developer" data-ng-show="debug">Developer</a>
        </nav>
        <nav data-ng-show="showAdminMenu && (user.canCreate || user.isTA)" id="nav-admin" data-ng-cloak>
           <a href="/admin/collection" analytics="{category: 'admin-nav', label: 'collections'}">{{"Collections" | tr}}</a>
           <a href="/admin/video" analytics="{category: 'admin-nav', label: 'videos'}">{{"Media" | tr}}</a>
           <a href="/admin/user" data-ng-show="user.isSuperuser" analytics="{category: 'admin-nav', label: 'users'}">{{"Users" | tr}}</a> 
           <a href="/admin/video/ingest" data-ng-show="user.isSuperuser" analytics="{category: 'admin-nav', label: 'users'}">{{"Ingest Videos" | tr}}</a> 
           <a href="/admin/audio/create" data-ng-show="user.isSuperuser" analytics="{category: 'admin-nav', label: 'users'}">{{"Ingest Audio" | tr}}</a> 
        </nav>
        <div id="warn-login" data-ng-class="!user.exists && hasCheckedUser ? 'active' : ''" data-ng-show="!user.exists && hasCheckedUser && !warningDismissed" data-ng-cloak data-ng-animate="'warn'"><i class="icon-cancel-circled" ng-click="warningDismissed = true" analytics="{category: 'login-warning', label: 'dismiss'}"></i>You are not logged in. You may not be able to view all of your courses' material until you <a data-ng-click="user.prompt(true)" analytics="{category: 'login-warning', label: 'login'}">login</a>.</div>
        <div id="warn-maintenance" data-ng-class="maintenance ? 'active' : ''" data-ng-show="maintenance" data-ng-cloak data-ng-animate="'warn'"><i class="icon-cancel-circled" ng-click="maintenance = null"></i>{{maintenance}}</div>
    </div>
    <div ng-view id="view">

    </div>
    </div>
  <!--[if gt IE 8]> -->

  <!-- LIBRARIES -->
  <script src="/lib/video-js/video.js" data-cdn="//vjs.zencdn.net/4.6.3/video.js"></script> <!--must come before require.js-->
  <script src="/lib/require/require.js" data-cdn="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script>
  <script>
      require.config({
          baseUrl: '/lib/butter/src',
          paths: {
              "editors": '../assets/editors/',
              "less": [
                  "//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min",
                  "../../less/less-1.7.3.min"
              ]
          }
      });
  </script>
  <script src="/lib/jquery-2.0.0.js" data-cdn="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
  <script src="/lib/less/less-1.3.3.min.js" data-remove></script>
  <script src="/lib/angular/angular.js" data-cdn="//ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
  <script src="/lib/angular/angular-resource.js" data-cdn="//ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-resource.min.js"></script>
  <script src="/lib/angular/angular-route.js" data-cdn="//ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-route.min.js"></script>
  <script src="/lib/video-js/plugins/youtube.js"></script>
  <script src="/js/custom-sanitize.js"></script>
  
  <!-- POPCORN -->
  <script src="/lib/popcorn-956693f8/popcorn.js"></script>
  <script src="/lib/popcorn._MediaElementProto.js"></script>
  <script src="/lib/popcorn.HTMLVideojsVideoElement.js"></script>
  <script src="/lib/popcorn-js/modules/parser/popcorn.parser.js" ></script>
  <script src="/lib/popcorn-js/parsers/parserVTT/popcorn.parserVTT.js" ></script>
  <script src="/lib/popcorn-js/modules/player/popcorn.player.js" ></script>
  <script src="/lib/popcorn-js/modules/locale/popcorn.locale.js" ></script>
  <script src="/lib/popcorn-js/players/youtube/popcorn.youtube.js" ></script>
  <script src="/lib/hummedia-popcorn-plugins/subtitle/popcorn.subtitle.js" ></script>
  <script src="/lib/hummedia-popcorn-plugins/audio/popcorn.audio.js"></script>
  <script src="/lib/hummedia-popcorn-plugins/modal/popcorn.modal.js"></script>
  <script src="/lib/hummedia-popcorn-plugins/reference/popcorn.reference.js"></script>
  <script src="/lib/hummedia-popcorn-plugins/youtube-search/popcorn.youtube-search.js"></script>
  <script src="/lib/hummedia-popcorn-plugins/freebase-search/popcorn.freebase-search.js"></script>
  <script src="/lib/hummedia-popcorn-plugins/comment/popcorn.comment.js"></script>
  <script src="/lib/hummedia-popcorn-plugins/interaction/popcorn.interaction.js"></script>
  <script src="/lib/hummedia-popcorn-plugins/skip/popcorn.skip.js"></script>
  <script src="/lib/butter/assets/plugins/pausePlugin/popcorn.pausePlugin.js"></script>
  <script src="/lib/hummedia-popcorn-plugins/mutePlugin/popcorn.mutePlugin.js"></script>
  <script src="/lib/hummedia-popcorn-plugins/imagePlugin/popcorn.imagePlugin.js"></script>  
  <script src="/lib/hummedia-popcorn-plugins/blank/popcorn.blank.js"></script>  
  <script src="/lib/hummedia-popcorn-plugins/transcript/popcorn.transcript.js"></script>  

  <!-- APP FILES -->
  <script src="/js/config-helper.js"></script>
  <script src="/js/app.js"></script>
  
  <!-- SERVICES -->
  <script src="/js/services.js"></script>
  <script src="/js/services/analytics.js"></script>
  <script src="/js/services/user.js"></script>
  <script src="/js/services/select-language-helper.js"></script>
  <script src="/js/services/developer.js" data-remove="true"></script>
  <script src="/js/services/language.js"></script>
  <script src="/js/services/course.js"></script>
  <script src="/js/services/subtitle-helper.js"></script>
  <script src="/js/services/annotation-helper.js"></script>
  <script src="/js/services/butter.js"></script>
  <script src="/js/services/sanitize.js"></script>
  <script src="/js/services/send_file.js"></script>
  
  <!-- DIRECTIVES -->
  <script src="/js/directives.js"></script>
  <script src="/js/directives/api-error-modal.js"></script>
  <script src="/js/directives/humfile.js"></script>
  <script src="/js/directives/array-cast.js"></script>
  <script src="/js/directives/analytics.js"></script>
  <script src="/js/directives/draggable.js"></script>
  <script src="/js/directives/repaint.js"></script>
  <script src="/js/directives/select-language.js"></script>
  <script src="/js/directives/select-language-multi.js"></script>
  <script src="/js/directives/resource-form.js"></script>
  <script src="/js/directives/rights.js"></script>
  <script src="/js/directives/scroll-load.js"></script>
 
  <!-- RESOURCES --> 
  <script src="/js/resources/video.js"></script>
  <script src="/js/resources/collection.js"></script>
  <script src="/js/resources/account.js"></script>
  <script src="/js/resources/youtube.js"></script>
  <script src="/js/resources/annotation.js"></script>
  <script src="/js/resources/subtitle.js"></script>

  <!-- CONTROLLERS -->
  <script src="/js/controllers/nav.js"></script>
  <script src="/js/controllers/home.js"></script>
  <script src="/js/controllers/search.js"></script>
  <script src="/js/controllers/select-course.js"></script>
  <script src="/js/controllers/login.js"></script>
  <script src="/js/filters.js"></script>
  <script src="/js/controllers/collections.js"></script>
  <script src="/js/controllers/site.js"></script>
  <script src="/js/controllers/admin_collection.js"></script>
  <script src="/js/controllers/admin_user.js"></script>
  <script src="/js/controllers/admin_video.js"></script>
  <script src="/js/controllers/admin_create_video.js"></script>
  <script src="/js/controllers/admin_ingest_audio.js"></script>
  <script src="/js/controllers/admin_ingest_video.js"></script>
  <script src="/js/controllers/subtitle.js"></script>
  <script src="/js/controllers/video_search.js"></script>
  <script src="/js/controllers/video.js"></script>
  <script src="/js/controllers/developer.js" data-remove="true"></script>
<!--[endif]> -->
</body>
</html>
