<section id="search">
    <div id="search_content">
	<form class="searchform">
	    <input class="searchfield" type="search" data-ng-model="query" autofocus="autofocus" placeholder="Search…" data-ng-change="change()">
	    <input class="searchbutton" type="submit" value="Go" />
	</form>
	<p>
	{{results.length}} result<span data-ng-show="results.length != 1">s</span> found.
	</p>
    </div>
    <section id="search-results">
	<ul>
	    <li data-ng-repeat="result in results"><a data-ng-href="#/collection/{{result.identifier}}">
		    <h1>{{result.title}}</h1>
		    <p class="description">{{result.description}}</p>
	    </a></li>
	</ul>
    </section>
</section>