<section id="search">
    <div id="search_content" data-pop-me-up="!isAdvanced()" data-ng-class="{advanced: isAdvanced()}" data-scroll-top-when="isAdvanced()" >
	<!-- Without this div we get bad sizing issues -->
	<div repaint>
	    <span class="advanced-toggle">
		<a data-ng-click="toggleAdvanced()">
		    <ng-switch on="isAdvanced()">
			<span ng-switch-when="false">{{"Advanced" | tr}}</span>
			<span ng-switch-when="true">{{"Basic" | tr}}</span>
		    </ng-switch>
		</a>
	    </span>
	    <form id="search-form" data-ng-submit="refresh()">
		<div class="searchform" data-ng-show="!isAdvanced()">
		    <input class="searchfield" type="search" ng-model="query" autofocus="autofocus" placeholder='{{"Search" | tr}}…' data-ng-change="change()">
		    <input class="searchbutton" type="submit" value='{{"Go" | tr}}' />
		</div>
		<fieldset id="search-advanced" data-ng-show="isAdvanced()" form="search-form">
		    <legend>{{"Advanced Search" | tr}}</legend>
		    <ul>
			<li>
			    <label for="search-form-title">{{"Title" | tr}}</label>
			    <input type="text" id="search-form-title" name="title" ng-model="advanced['ma:title']">
			</li>
			<li>
			    <label for="search-form-description">{{"Description" | tr}}</label>
			    <input type="text" id="search-form-description" name="title" ng-model="advanced['ma:description']">
			</li>
			<li>
			    <label for="search-form-yearfrom">{{"From Year" | tr}}</label>
			    <input type="number" placeholder="1878" id="search-form-yearfrom" name="yearfrom" ng-model="advanced.yearfrom" min="1878" max="{{maxYear}}">
			</li>
			<li>
			    <label for="search-form-yearto">{{"To Year" | tr}}</label>
			    <input type="number" placeholder="{{maxYear}}" id="search-form-yearto" name="yearto" ng-model="advanced.yearto" min="1878" max="{{maxYear}}">
			</li>
			<!--<li>
			    <label for="search-form-director">Director</label>
			    <input type="text" id="search-form-director" name="director" ng-model="advanced.director">
			</li>-->
		    </ul>
		    <input type="submit" data-disable-when="!canSearch()" value='{{"Go" | tr}}'>
		</fieldset>
		<p data-ng-show="!isSearching && hasSearched">
		    <ng-pluralize count="results.length" when="{'0': 'No results.',
				  'one': 'One result.',
				  'other': '{} results found.'}">
		    </ng-pluralize>
		</p>
		<p data-ng-show="isSearching">
		    {{"Searching" | tr}}...
		</p>
	    </form>
	</div>
    </div>
    <section id="search-results">
	<ul>
	    <li class="result" data-ng-repeat="result in results"><a data-ng-href="{{getUrl(result)}}">
		    <div class="details">
			<ng-switch on="result.date.length == 10">
				<time datetime="{{result['ma:date']}}" data-ng-switch-when="true">{{result["ma:date"]}}</time>
                <time datetime="{{result['ma:date']}}" data-ng-switch-when="false">{{result["ma:date"]}}</time>
			</ng-switch>
			<ul class="language-list">
			    <li data-ng-repeat="lg in result['ma:hasLanguage']">{{lg | language}}</li>
			</ul>
		    </div>
		    <h1>{{result['ma:title']}}</h1>
            <p class="description" ng-bind-html="result['ma:description']"></p>
	    </a></li>
	</ul>
    </section>
</section>
