<section id="search">
    <div id="search_content">
	<!-- Without this div we get bad sizing issues -->
	<div>
	    <a data-ng-click="toggleAdvanced()" class="advanced-toggle">
		<ng-switch on="isAdvanced()">
		    <span ng-switch-when="false">Advanced</span>
		    <span ng-switch-when="true">Hide Advanced</span>
		</ng-switch>
	    </a>
	    <form class="searchform" data-ng-submit="refresh()">
		<input class="searchfield" type="search" data-ng-model="query" autofocus="autofocus" placeholder="Search…" data-ng-change="change()">
		<input class="searchbutton" type="submit" value="Go" />
	    </form>
	    <p data-ng-show="!isSearching && hasSearched">
		<ng-pluralize count="results.length" when="{'0': 'No results.',
			      'one': 'One result.',
			      'other': '{} results found.'}">
		</ng-pluralize>
	    </p>
	    <p data-ng-show="isSearching">
		Searching…
	    </p>
	    <div id="search-advanced" ng-class="{true: 'active'}[isAdvanced()]">
		<hr/>
		<label for="search-form-date">Creation Date</label><input type="date" id="search-form-date" name="date">
	    </div>
	</div>
    </div>
    <section id="search-results">
	<ul>
	    <li class="result" data-ng-repeat="result in results"><a data-ng-href="#/{{result.type}}/{{result.identifier}}">
		    <div class="details">
			<ng-switch on="result.date.length == 10">
				<time datetime="{{result.date}}" data-ng-switch-when="true">{{result.date | date:'longDate'}}</time>
				<time datetime="{{result.date}}" data-ng-switch-when="false">{{result.date}}</time>
			</ng-switch>
			<ul class="languages">
			    <li data-ng-repeat="lg in result.language">{{lg | language}}</li>
			</ul>
		    </div>
		    <h1>{{result.title}}</h1>
		    <p class="description">{{result.description}}</p>
	    </a></li>
	</ul>
    </section>
</section>